In [1]:
import pandas as pd
import numpy as np

|mode name| log los|
|----|----|
|vgg16|0.434|
|resnet|0.438|
|inceptionV3|0.525|

In [2]:
dataset1 = pd.read_csv('subm/resnet.csv')
dataset2 = pd.read_csv('subm/vgg16.csv')
dataset3 = pd.read_csv('subm/inceptionV3.csv')
dataset4 = pd.read_csv('subm/submission_VGG16_SGD.csv')

In [17]:
col = ['c'+str(i) for i in range(10)]
new_subm = dataset1[col] * 0.35 + dataset2[col] * 0.35 + dataset3[col] * 0.3

In [18]:
new_subm.head()

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,0.005,0.005,0.857456,0.005,0.005000,0.005000,0.005,0.037565,0.101344,0.008217
1,0.005,0.005,0.005000,0.005,0.005000,0.005000,0.995,0.005000,0.005000,0.005000
2,0.005,0.005,0.005000,0.005,0.963197,0.034828,0.005,0.005000,0.005000,0.005000
3,0.005,0.995,0.005000,0.005,0.005000,0.005000,0.005,0.005000,0.005000,0.005000
4,0.005,0.005,0.995000,0.005,0.005000,0.005000,0.005,0.005000,0.005000,0.005000

In [20]:
new_subm.insert(0, 'img', dataset1['img'])

In [21]:
new_subm.to_csv("subm/merge_resnet_vgg_inceptionV3_0.35_0.35_0.3.csv", index=False)

In [6]:
col = ['c'+str(i) for i in range(10)]
new_subm = dataset4[col].clip(lower=0.005, upper=0.995)
new_subm.insert(0, 'img', dataset4['img'])
new_subm.to_csv("subm/VGG16_SGD_clip.csv", index=False)

,c0,c1,c2,c3,c4,c5,c6,c7,c8,c9
0,0.005,0.005,0.068276,0.005,0.005,0.005,0.005000,0.445882,0.451496,0.029826
1,0.005,0.005,0.005000,0.005,0.005,0.005,0.995000,0.005000,0.005000,0.005000
2,0.005,0.005,0.005000,0.005,0.995,0.005,0.005000,0.005000,0.005000,0.005000
3,0.005,0.995,0.005000,0.005,0.005,0.005,0.005000,0.005000,0.005000,0.005000
4,0.005,0.005,0.788719,0.005,0.005,0.005,0.028618,0.005000,0.182382,0.005000